<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>landing page</title>
</head>
<body>
    <h1>Landing Page for the assignment</h1>
    <h2><a href="/test">testページへ</a></h2>
</body>
</html>